<router-outlet></router-outlet>
<body>
<ul>
    <div class="navbar">
      <li class="dropdown">
        <a href="services" class="dropbtn">Servicios</a>
        <div class="dropdown-content">
          <a href="product">Consultorias</a>
          <a href="single">Patronaje</a>
        </div>
      </li>
      <li><a href="contact">Contactos</a></li>
      <li><a href="product">Productos</a></li>
      <li><a href="empresa">Nosotros</a></li>
      <li><a href="dashboard">Inicio</a></li>
    </div>
</ul>
</body>
