
<ul>
    <div class="navbar">
      <li class="dropdown">
        <a routerLink="services" class="dropbtn">Servicios</a>
        <div class="dropdown-content">
          <a routerLink="product">Consultorias</a>
          <a routerLink="single">Patronaje</a>
        </div>
      </li>
      <li><a routerLink="contact">Contactos</a></li>
      <li><a routerLink="product">Productos</a></li>
      <li><a routerLink="empresa">Nosotros</a></li>
      <li><a routerLink="dashboard">Inicio</a></li>
    </div>
</ul>

