@import '../../sass/variables';
@import '../../sass/mixins';

#section-3{
  @include bg_covertint ($r_blanco,$g_blanco,$b_blanco,$r_light_blue,$g_light_blue,$b_light_blue,$alpha_cover,$picture-product);
  height: 100vh;
  color: $blanco;
  text-align: center;
  h1{
      margin-top:0;
  }
  p{
      margin-left: 10%;
      margin-right: 10%;
  }
}
.content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
    h1{
        @include headers;
    }
}

.carta{
  padding: 5px;
  text-align: justify;
}
.btn{
  text-decoration: none;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: helvetica;
  font-weight: 200;
  font-size: 15px;
  font-style: italic;
  color: #2257d3;
  background-color: #f3f3f3;
  border-radius: 10px;
  border: 1px double #000000;
}
.boton_1:hover{
  opacity: 1;
  text-decoration: none;
}
.carrito{
  padding: 4px;
  text-align: right;
}