<div class="bd-example">
				<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
					<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
				  </ol>
				  <div class="carousel-inner">
					<div class="carousel-item">
					  <img src="../../assets/img_bg_4.jpg" class="d-block w-100" alt="...">
					  <div class="carousel-caption d-none d-md-block">
					  </div>
					</div>
				  </div>
				</div>
			  </div>		  
	<!-- <h1>division de la imagen y el resto de la pantalla</h1> -->
	<br>
	<h4 class="titutlo">Productos En venta</h4>
	<div id="page">
		<div *ngFor="let item of response" class="card">
			<div>
				<div class="col-sm-4">
					<div>
						<div class="card-header btn-flat"># {{item.id}}</div>
						<div class="card-body">
							<h4 class="card-title">Nombre: {{item.nombre}}</h4>
							<h4 class="card-title">Precio: {{item.precio}}</h4>
							<img class="card" src="{{item.imagen}}"
								alt="Avatar">
							<h4 class="texto">Descripción: {{item.descripcion}}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



<!-- <div>
	<table class="table table-1">
		<thead *ngFor="let item of table_header">
			<th>{{item.id}}</th>
			<th>{{item.nombre}}</th>
			<th>{{item.descripcion}}</th>
			<th>{{item.precio}}</th>
		</thead>

		<tbody>
			<tr *ngFor="let item of response">
			<th>{{item.id}}</th>
			<th>{{item.nombre}}</th>
			<th>{{item.descripcion}}</th>
			<th>{{item.precio}}</th>
			</tr>
		</tbody>
	</table>
</div> -->