  .card1{
    @mixin gridImagenes($cantidad, $margin) {//para definir cantidad de imagenes y adecuarles en el espacio
      width: ((100% - (($cantidad - 1) * $margin))/$cantidad);
      &:nth-child(n) {
        margin-right: $margin;
        margin-bottom: $margin;
      }
      &:nth-child(#{$cantidad}n + 1) {
      margin-right:0;
       margin-bottom: 0;
     }
  }
    @include gridImagenes(4,5%); 
}