<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget">
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <ul>
                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                <a href="https://twitter.com/?lang=es" class="fa fa-twitter"></a>
                <a href="https://mail.google.com" class="fa fa-google"></a>
                <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
                <a href="https://www.instagram.com" class="fa fa-instagram"></a>                
                </ul>
            </div>
        </div>
    </div>
</footer>