@import '../../sass/variables';
@import '../../sass/mixins';

body
{
  @include body;
  margin: 0;
}

.content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
    h1{
        @include headers;
    }
  background-size: cover;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.conten{
  width: 100%;
  height: 100%;
  background-size: cover;

  .slider {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0px;
    left: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover;
    background-image: url('../../assets/img_bg_1.jpg');
    z-index: -1;
    filter: blur(2px);
    -moz-filter:blur(2px);

  }
  
  li{
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center center;
  
    animation: slider 20s linear infinite;
    -moz-animation: slider 20s linear infinite;
    -ms-animation: slider 20s linear infinite;
    -o-animation: slider 20s linear infinite;
    -webkit-animation: slider 20s linear infinite;
  }
  .img1{
    background-image: url('../../assets/img_bg_2.jpg');
    animation-delay: 10s;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover;
  }
  
  .img2{
    background-image: url('../../assets/img_bg_3.jpg');
    animation-delay: 10s;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover;
  }
  
  .img3{
    background-image: url('../../assets/img_bg_4.jpg');
    animation-delay: 10s;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover;
  }
  
  @keyframes slider{
    0%{
      opacity: 0;
      animation-timing-function: ease-in;
    }
    10%{
      opacity: 1;
      animation-timing-function: ease-out;
    }
    25%{
      opacity: 1;
      transform: scale(1);
    }
    50%{
      opacity: 0;
      transform: scale(2);
    }
    100%{
      opacity: 0;
    }
  }
}

#section-2{
    @include bg_covertint ($r_blanco,$g_blanco,$b_blanco,$r_turquesa,$g_turquesa,$b_turquesa,$alpha_cover,$picture-dashboard);
    height: 120vh;
    color: $brand-body-color;
    h2{
        padding-top: 5%;
    }
}

#section-3{
    @include bg_covertint ($r_deep_blue,$g_deep_blue,$b_deep_blue,$r_light_blue,$g_light_blue,$b_light_blue,$alpha_cover,$picture-dashboard);
    height: 75vh;
    color: $blanco;
    text-align: center;
    h1{
        margin-top:0;
    }
    p{
        margin-left: 10%;
        margin-right: 10%;
    }
}
.info{
  height: 30vh;
  top: 0;
  left: 0;
  margin: 0;
  background-color: $brand-secondary;
  background-size: cover;
  padding: 100px;
  text-align: center;
    a{
      color: $brand-white;
      text-decoration: none;
      margin-top: 100;
    }
    .imgRedonda {
      position: relative;
      width:160px;
      height:160px;
      border-radius:160px;
    }    
}
.galeria {
  @include clearfix;
  margin-left: 10%;
  li.imagen {
    float:left;
    list-style: none;
    @include gridImagenes(4, 1%);
    img {
      display: block;
      max-width: 100%;
      margin-top: 0%;
      @include border-radius(10px);
    }
  }
}
.container {
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: $brand-white;
  background-size: cover;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

