
<body>
  <div class="conten">
    <ul class="slider">
      <li class="img1"></li>
      <li class="img2"></li>
      <li class="img3"></li>
    </ul>
    <h1>KAWINA</h1>

</div>
  <div class="container">
    <div class="row">
      <div class="column side">
        <h2>OBJETIVO</h2>
        <p>Ante la necesidad de las empresas de confección, de contratar profesionales freelance bien por exceso de
          trabajo o disminuir los costes fijos de su empresa. Nuestros equipos de colaboradores y nosotros , estamos
          preparados para hacerle parte de los desarrollos de su proyecto o gestionar y controlar todo el proceso de
          producción completo.
          Nos adaptamos al volumen de prendas que necesite, pequeñas o grandes producciones.
        </p>
      </div>

      <div class="column middle">
        <h2>MISIÓN</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis
          velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat,
          purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis
          velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat,
          purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.
        </p>
      </div>
      <div class="column middle">
        <h2>VISIÓN</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis
          velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat,
          purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis
          velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat,
          purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.
        </p>
      </div>
      <div class="column side">
        SER PARTE DE TU EQUIPO
      </div>
    </div>
  </div>
  <div class="info">
    <figure>
      <img src="../../assets/img/person1.jpg" class="imgRedonda">
    </figure>
    <a href="https://www.facebook.com/andre.rojas.98096">DEYSI</a>
  </div>
  <div id="section-3">
    <h1>Festivales.</h1>
    <p>La electrónica nunca ha perdido su relevancia y poder de convocatoria en la escena de festivales, y este
      año las
      citas se han multiplicado una vez más, creciendo en lo cuantitativo y lo cualitativo a lo largo y ancho de
      la
      geografía española y manteniendo una apertura estilística donde caben multitud de corrientes sónicas
      diferentes.
    </p>
    &copy; El género que la rompe!!
  </div>
</body>