<body>
  <div class="conten">
    <ul class="slider">
      <li class="img1"></li>
      <li class="img2"></li>
      <li class="img3"></li>
    </ul>
  </div>
  <div *ngFor="let elemento of response" >
      <h1>{{elemento.titulo1}}</h1>
      <div id="about">
        <p>{{elemento.descripcion}}
        </p>
    </div>
  <div class="container">
    <div class="row">
      <div class="column side">
        <h2>OBJETIVO</h2>
        <p>{{elemento.objetivo}}</p>
      </div>

      <div class="column middle">
        <h2>MISIÓN</h2>
        <p>{{elemento.mision}}</p>
      </div>
      <div class="column middle">
        <h2>VISIÓN</h2>
        <p>{{elemento.vision}}</p>
      </div>
    </div>
  </div>
  <div class="info">
    <h1>{{elemento.titulo2}}</h1>
    <figure>
      <img src="data:image/jpg;base64,{{elemento.imagen}}" class="imgRedonda">
    </figure>
    <a href="https://www.facebook.com/andre.rojas.98096">KAWINA</a>
    <p>{{elemento.descripcion1}}</p>
  </div>
  <div id="end">
    <div class="row">
      <h1>{{elemento.titulo3}}</h1>
      <div class="column">
        <h2>{{elemento.subtitulo1}}</h2>
        <p>
          {{elemento.descripcion2}}
        </p>
      </div>
      <div class="column">
        <h2>{{elemento.subtitulo2}}</h2>
        <p>
          {{elemento.descripcion3}}
        </p>
      </div>
      <div class="column">
        <h2>{{elemento.subtitulo3}}</h2>
        <p>
          {{elemento.descripcion4}}
        </p>
      </div>
    </div>
    &copy; KAWINA con más de un siglo de EXPERIENCIA!
  </div>
  <app-footer></app-footer>
</div>
</body>