

<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-2">
						<div id="fh5co-logo"><a href="index.html">KAWINA</a></div>
					</div>
					<div class="col-md-6 col-xs-6 text-center menu-1">
						<ul>
							<li class="has-dropdown">
								<a href="../app.component.html">INICIO</a>
							</li>
							<li><a href="about.html">EMPRESA</a></li>
							<li class="has-dropdown">
								<a href="../product/product.component.html">TIENDA</a>
								<ul class="dropdown">
									<li><a href="../single/single.component.html">Deltalle del producto</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="../services/services.component.html">SERVICIOS</a>
								<ul class="dropdown">
									<li><a>Patronaje</a></li>
									<li><a >Cursos Online</a></li>
									<li><a >Consultorio</a></li>
								</ul>
							</li>
							<li><a href="../contact/contact.component.html">CONTACTOS</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
						<ul>
							<li class="shopping-cart"><a  class="cart"><span><small>0</small><i
											class="icon-shopping-cart"></i></span></a></li>
						</ul>
					</div>
				</div>

			</div>
		</nav>

		<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
			style="background-image:url(images/img_bg_2.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>Services</h1>
								<div class="row">
									<div class="col-md-4 col-sm-4 text-center">
										<div class="feature-center animate-box" data-animate-effect="fadeIn">
											<span class="icon">
												<i class="icon-calendar"></i>
											</span>
											<h3>Consultorio</h3>
											<p><a  class="btn btn-primary btn-outline">Consultorio</a></p>
										</div>
									</div>
									<div class="col-md-4 col-sm-4 text-center">
										<div class="feature-center animate-box" data-animate-effect="fadeIn">
											<span class="icon">
												<i class="icon-clapperboard"></i>
											</span>
											<h3>Cursos Online</h3>
											<p><a  class="btn btn-primary btn-outline">Cursos Online</a></p>
										</div>
									</div>
									<div class="col-md-4 col-sm-4 text-center">
										<div class="feature-center animate-box" data-animate-effect="fadeIn">
											<span class="icon">
												<i class="icon-drive"></i>
											</span>
											<h3>Patronaje</h3>
											<p><a  class="btn btn-primary btn-outline">Patronaje</a></p>
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<footer id="fh5co-footer" role="contentinfo">
			<div class="container">
				<div class="row copyright">
					<div class="col-md-12 text-center">
						<p>
							<small class="block">&copy; kawina con mas de un siglo experiencia.</small>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a  class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	

</body>
