<!-- consultoria -->
<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="../../assets/img_bg_4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
    </div>
</div>
<h1>Productos En venta</h1>
<div class="carta">
	<div *ngFor="let item of response;let i=index">
		<div>
			<div>
				<div>
					<h1>{{item.id}}</h1>
					<h4 class="card-title">Nombre: {{item.nombre}}</h4>
					<h4 class="card-title">Precio: {{item.precio}}</h4>
					<img style="width:20%"  src="{{item.imagen}}">
                    <h4 class="texto">Descripción: {{item.descripcion}}</h4>
					<button (click)="carrito(item.id)" class="btn">Añadir al carrito</button>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div>
    <div *ngFor="let item of response">
        <div>
            <div># {{item.id}}
                <div>
                    <h4 class="card-title">Servicio: {{item.idServicio}}</h4>
                    <h4 class="card-title">Nombre: {{item.nombre}}</h4>
                    <h4 class="card-title">Precio: {{item.precio}}</h4>
                    <h4 class="card-title">Precio: {{item.descripcion}}</h4>
                    <a class="card-title" href="{{item.urlArchivo}}">descargar</a>
                    <div>
                        <img src="{{item.imagen}}" alt="Avatar">
                        <button (click)="carrito(item.id)" class="btn">Añadir al carrito</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="carrito">
    <h4><i class="fa fa-shopping-cart"></i> Carrito De Compras </h4>
    <ul class="list-group">
        <div *ngFor="let elemento of agregar">
            <li class="list-group-item">
                {{elemento.nombre}}
                <a class="card-title" href="{{elemento.urlArchivo}}">descargar</a>
            </li>
            <strong class="pull-right"> {{elemento.precio}}</strong>
        </div>
    </ul>
    <!-- <h2>TOTAL: {{total()}}</h2> -->
</div>