<body>
	<div id="contactos">
		<div class="content">
			<h1>CONTACTOS</h1>
		</div>
	</div>
	<div id="seccion-1">
		<div class="column slide">
			<div class="contact-info">
				<h3>Información</h3>
				<ul>
					<li class="address">10 de agosto y la colon <br> Quito-Ecuador</li>&nbsp;
					<li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>&nbsp;
					<li class="email"><a href="mailto:info@yoursite.com">info@kawina.com.ec</a></li>&nbsp;
					<li class="url"><a href="http://gettemplates.co">Direccion de la pagina de la pagina Web</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="column middle">
			<div class="container">
				<div class="container mt-5">
					<h2>Formulario de contacto</h2>
					<form (ngSubmit)="contactForm(form.value)" #form="ngForm">
						<div class="form-group">
							<label>Nombre</label>
							<input type="text" class="form-control" name="nombre" ngModel>
						</div>
						<div class="form-group">
							<label>Asunto</label>
							<input type="text" class="form-control" name="asunto" ngModel>
						</div>
						<div class="form-group">
							<label>E-mail</label>
							<input type="email" class="form-control" name="email" ngModel>
						</div>
						<div class="form-group">
							<label>Mensaje</label>
							<textarea class="form-control" cols="30" rows="6" name="mensaje" ngModel placeholder="Di algo de Nosotros..."></textarea>
						</div>
						<button type="submit" >Enviar Mensaje</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</body>