<!-- <p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>Carrito de compras</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="text-center td-image">Imagen</td>
                <td class="text-left td-name">Nombre del producto</td>
                <td class="text-center td-model">Modelo</td>
                <td class="text-center td-qty">Cantidad</td>
                <td class="text-center td-price">Precio </td>
                <td class="text-center td-total">Total</td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="text-center td-image">
                    <a href="#"><img src="../../assets/imagenespatrones/patron5.jpg" alt="Bodycorn Dress" title="Bodycorn Dress"></a>
                </td>
                <td class="text-left td-name"><a href="https://www.journal-theme.com/5/index.php?route=product/product&amp;product_id=299">Bodycorn Dress</a> </td>
                <td class="text-center td-model">Model 48</td>
                <td class="text-center td-qty">
                    <div class="input-group btn-block">
                        <div class="stepper">
                            <input type="text" name="quantity[8976]" value="2" size="1" class="form-control">
                            <span>
              <i class="fa fa-angle-up"></i>
              <i class="fa fa-angle-down"></i>
            </span>
                        </div>
                        <span class="input-group-btn">
            <button type="submit" data-toggle="tooltip" title="" class="btn btn-update" data-original-title="Update"><i class="fa fa-refresh"></i></button>
            <button type="button" data-toggle="tooltip" title="" class="btn btn-remove" onclick="cart.remove('8976');" data-original-title="Remove"><i class="fa fa-times-circle"></i></button>
          </span>
                    </div>
                </td>
                <td class="text-center td-price">$399.00</td>
                <td class="text-center td-total">$798.00</td>
            </tr>
        </tbody>
    </table>
</div> -->

<!-- <body>
    <div>
        <table class="table table-1">
            <thead *ngFor="let item of tableCom">
                <th>{{item.idBoton}}</th>
                <th>{{item.botonCantidad}}</th>

            </thead>

            <tbody>
                <tr *ngFor="let item of respuesta">
                    <td>{{item.idboton}}</td>
                    <td>{{item.boton_cantidad}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</body> -->