<div class="login-wrap">
    <div class="login-html">
        <div class="images">
            <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Registrarse</label>
            <div class="login-form">

                <div class="sign-up-htm">
                    <form [formGroup]="registerForm" action="">
                        <div class="group">
                            <label for="nombre" class="label">Nombre</label>
                            <input id="nombre" [(ngModel)]="nombres" formControlName="nombres" name="nombres" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="apellido" class="label">Apellido</label>
                            <input id="apellido" [(ngModel)]="apellidos" name="apellidos" formControlName="apellidos" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="direccion" class="label">Direccion Domicilio</label>
                            <input id="direccion" [(ngModel)]="direccionDomiciliaria" formControlName="direccionDomiciliaria" name="direccionDomiciliaria" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="cedula" class="label">Cedula</label>
                            <input id="cedula" [(ngModel)]="CI" formControlName="CI" name="CI" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="celular" class="label">Celular</label>
                            <input id="celular" [(ngModel)]="telefonoCelular" name="telefonoCelular" formControlName="telefonoCelular" type="number" class="input" data-type="number">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Gmail Para notoficaciones</label>
                            <input id="pass" [(ngModel)]="correoElectronico" formControlName="correoElectronico" name="correoElectronico" type="text" class="input">
                        </div>
                        <div class="group">
                            <input type="submit" (click)="postDataTable()" class="button" value="Registrarse">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                        </div>
                    </form>
                    <div class="eroor">
                        <span *ngIf="registerForm.controls['CI'].errors?.pattern">Formulario Invalido</span>
                        <span *ngIf="registerForm.controls['nombres'].errors?.pattern">Formulario Invalido</span>
                        <span *ngIf="registerForm.controls['apellidos'].errors?.pattern">Formulario Invalido</span>
                        <span *ngIf="registerForm.controls['direccionDomiciliaria'].errors?.pattern">Formulario Invalido</span>
                        <span *ngIf="registerForm.controls['telefonoCelular'].errors?.pattern">Formulario Invalido</span>
                        <span *ngIf="registerForm.controls['correoElectronico'].errors?.pattern">Formulario Invalido</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="image centrado">
    <img src="../../assets/img/logo1.png" width="275" height="204">
</div>
<!-- [disabled]="!registerForm.valid" -->