<body>
  <div id="principal">
    <div class="content">
      <h1>Asesoramiento en diseño y preproducción de moda</h1>
    </div>
  </div>
  <div class="info">
    <h1>Historia</h1>
    <p>En el largo camino de llegar a la perfección existen días buenos y malos, pero nos agradan esos días en los que
      te encuentras con las personas adecuadas para llegar a cumplir tus sueños.</p>

      <p>Después de varios tropiezos, caídas y pequeños logros se viene una época llena de éxitos, uno tras otro, gracias
      al desempeño hecho durante varios años y acompañados de las mejores personas.</p>

      <p>Ese grupito de amigos que te da una profesión a los cuales nunca pensaste conocer pero te ayudó a sacar lo mejor
      de ti y tu desempeño en lo que más te gusta.</p>

      <p><a target="_blank" href="">"Intentalo tú mismo"</a>Esto se llama pasión por lo que haces…</p>
  </div>
  <div class="row">
    <div class="column">
      <img class="image" src="../../assets/img/Captura.PNG" width="165  " alt="">
      <h2>Patronaje</h2>
      <ul>
        <h5>MODA</h5>
        <li>Señora</li>
        <li>Caballero</li>
        <li>Niño y Niña (0a 14 años)</li>
        <h5>LABORAL</h5>
        <p>Técnica corporativa, seguridad, uniformes gremiales...</p>
        <li>Escalado</li>
        <li>Marcadas y Consumos</li>
        <li>Fichas de medias y técnicas</li>
      </ul>
    </div>
    <div class="column">
      <img class="image" src="../../assets/img/Captura1.png" width="150" alt="">
      <h2>Producción</h2>
      <ul>
        <li>Estudio del Proyecto</li>
        <li>Planificación</li>
        <li>Gestión del Corte, automatico o manual.</li>
        <li>Confección.</li>
        <li>Control de Calidad.</li>
        <li>Entrega.</li>
      </ul>
    </div>
    <div class="column">
      <img class="image" src="../../assets/img/Captura2.png" width="150" alt="">
      <h2>Muestrarios</h2>
      <ul>
        <li>Confección de Prototipos.</li>
        <li>Confección de Muestrarios.</li>
      </ul>
    </div>
  </div>
</body>