
<body>
  <div id="section-3">
      <div class="content">
      <h1>Asesoramiento en diseño y preproducción de moda</h1>
    </div>
  </div>
  <div class="row">
      <div class="column">
        <img class="image" src="../../assets/img/Captura.PNG" width="165  " alt="">
        <h2>Patronaje</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
      </div>
      
      <div class="column">
        <img class="image" src="../../assets/img/Captura1.png" width="150" alt="">
        <h2>Producción</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
      </div>
      
      <div class="column">
        <img class="image" src="../../assets/img/Captura2.png" width="150" alt="">
        <h2>Muestrarios</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
      </div>
    </div>
</body>